* {
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-font: sans-serif;
  --main-color: rgb(6, 160, 132);
  --main-modal-color: rgba(6, 160, 132, 0.85);
  --main-disabled-color: rgba(6, 160, 132, 0.5);
  --second-color: rgb(24, 35, 36);
  --second-modal-color: rgba(24, 35, 36, 0.85);
  --third-color: rgb(255, 255, 255);
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Cabezera */

.header {
  position: sticky;
  top: 0;
  background-color: #06a084;
  color: var(--third-color);
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 7px 18px -2px rgba(0, 68, 89, 0.97);
  -webkit-box-shadow: 0px 7px 18px -2px rgba(0, 68, 89, 0.97);
  -moz-box-shadow: 0px 7px 18px -2px rgba(0, 68, 89, 0.97);
  z-index: 899;
}

.header-h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

/* Secciones */

section {
  min-height: 100vh;
  padding: 2rem;
  margin: auto;
  padding-top: 4rem;
  max-width: 1200px;
  text-align: center;
  color: var(--second-color);
}

/* Panel */

.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--second-modal-color);
  z-index: 1000;
  transform: translate(0, 100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.panel-open {
  opacity: 1;
  transform: translate(0, 0);
  width: 100%;
}

/* Menú */

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-a {
  width: inherit;
  display: block;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--third-color);
  transition: background-color 0.3s ease;
}

.menu-a:hover {
  background-color: #06a084;
}

/* Boton menú */
/* .btn-panel {
  position: fixed;
  bottom: 1vh;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100vw;
  gap: 1rem;
  z-index: 1000;
} */

/* Action Buttons */

.action-button {
  position: fixed;
  z-index: 900;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #06a084;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease, opacity 0.3s ease,
    visibility 0.3s ease;
}
.action-button:hover {
  background-color: var(--main-modal-color);
}
.action-button:active {
  transform: scale(0.9);
}
.btn-icon {
  color: var(--third-color);
  font-size: 2rem;
}

.btn-img{
  width: inherit;
  height: inherit;
  color: white;
}

/* Abrir Menu */

.open-button {
  bottom: 2vh;
  right: 2vw;
  z-index: 1001;
}

/* Mover hacia arriba */
.up-button {
  transform: translateY(50%);
  bottom: 2vh;
  right: calc(4vw + 4rem);
  visibility: hidden;
  opacity: 0;
}
.up-button.active {
  transform: translateY(0);
  bottom: 2vh;
  visibility: visible;
  opacity: 1;
}

/* Modo Oscuro */

.dark-button {
  bottom: 2vh;
  left: 4vw;
}



/* Section 1 */
.btn-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-1_btn {
  width: 150px;
  gap: 1rem;
  padding: 0.8rem;
  border: none;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--third-color);
  transition: background-color 0.2s ease;
}
.section-1_btn:hover {
  background-color: var(--main-modal-color);
}
.section-1_btn:disabled {
  background-color: var(--main-disabled-color);
}

/* Section 2 */

.area {
  background-color: var(--second-color);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
}

.ball {
  background-color: var(--main-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Section 3 */

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* Section 4 */

#section-4 a {
  color: var(--main-color);
}

/* Section 5 */
.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-inputs input {
  border: none;
  border-bottom: 2px solid var(--main-color);
  border-radius: 5px;
  outline: none;
  padding: 0.5rem;
  background-color: rgba(181, 226, 218, 0.809);
  max-width: 350px;
  transition: background-color 0.2s ease;
}
.form-inputs input:hover {
  background-color: rgb(181, 226, 218);
}

.form-inputs input[type="submit"],
.form-inputs input[type="button"] {
  background-color: var(--main-color);
  color: var(--third-color);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem;
  width: 80px;
  transition: background-color 0.2s ease;
}
.form-inputs input[type="submit"]:hover,
.form-inputs input[type="button"]:hover {
  background-color: rgba(7, 226, 186, 0.809);
}

/* SECTION 7 */

.online,
.offline {
  opacity: 0;
  position: fixed;
  bottom: 20vh;
  left: 2vw;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  transform: translateY(200%);
  transition: position 0.2s, transform 0.5s ease, opacity 0.2s ease,
    visibility 0.2s ease;
  color: var(--third-color);
}

.active {
  transform: translateY(0%);
  opacity: 1;
}

.online {
  background-color: rgb(13, 162, 18);
  z-index: 100;
}

.offline {
  z-index: 99;
  background-color: rgb(255, 91, 91);
}

/* Section 8 */
#section-8 {
  display: flex;
  flex-direction: column;
}
#webCam {
  max-height: 200px;
}
#section-8 img {
  width: auto;
  max-height: 300px;
  margin: auto;
}

/* Section 10 */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  display: inline-block;
  color: var(--main-color);
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.cards figcaption {
  background-color: var(--second-color);
  padding: 1rem;
}

.hide {
  opacity: 0;
  visibility: hidden;
  order: 1;
}

/* Section 11  */

ul {
  list-style: none;
}

/* Section 12 */

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 97;
  margin: auto;
  height: auto;
  position: relative;
  padding: 1rem;
  background-color: var(--second-color);
  overflow: hidden;
}

.sliders,
.sliders-example {
  display: none;
  opacity: 0;
  visibility: hidden;
  height: inherit;
  width: 10px;
  pointer-events: none;
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
}

.sliders-example {
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.sliders figcaption,
.sliders-example figcaption {
  font-weight: 900;
  color: var(--second-color);
  background-color: var(--third-color);
  width: 100%;
  max-width: 500px;
  font-size: 2rem;
  margin: auto;
}

.sliders.slider-show {
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: inherit;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sliders.slider-show.slider-next {
  transform: translateX(200px);
  opacity: 0;
}

.sliders.slider-show.slider-before {
  transform: translateX(-200px);
  opacity: 0;
}

.slider-img {
  height: 75vh;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-control {
  z-index: 99;
  background-color: var(--third-color);
  border-radius: 50%;
  padding: 1rem;
  width: 75px;
  height: 75px;
  cursor: pointer;
  border: 2px solid var(--second-color);
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.slider-control:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  /* Menú */

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .menu-a {
    width: inherit;
    display: block;
    text-align: right;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
    color: var(--third-color);
    transition: background-color 0.3s ease;
  }

  .menu-a:hover {
    background-color: #06a084;
  }
  
  /* Panel */
  body{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem 1fr;
    grid-template-areas: 
    "header header"
    "container aside";
  }
  main{
    width: 80%;
    grid-area: "container";
  }
  .header{
    grid-area: "header";
    width: 100vw;
  }
  .panel {
    grid-template-areas: "aside";

    position: sticky;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--second-modal-color);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
  .open-button{
    display: none;
  }
  .visible{
    background-color: var(--main-color);
  }
  .up-button {
    transform: translateY(50%);
    bottom: 2vh;
    right: initial;
    left: calc(4vw + 4.25rem);
    visibility: hidden;
    opacity: 0;
  }
}
